[submodule "asplib"]
	path = asplib
	url = https://github.com/tomijanhunen/asplib
[submodule "asptranslate"]
	path = asptranslate
	url = https://github.com/tomijanhunen/asptranslate
[submodule "asptools"]
	path = asptools
	url = https://github.com/tomijanhunen/asptools
[submodule "kissat"]
	path = kissat
	url = https://github.com/arminbiere/kissat
[submodule "wasp"]
	path = wasp
	url = https://github.com/alviano/wasp
[submodule "sgb"]
	path = sgb
	url = https://github.com/ascherer/sgb.git
